
/* HERO ---------------------------------------------*/
.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-title {
    color: var(--clr-slate950);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero-desc {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate800);
    overflow-y: hidden;

}

.hero-img {
    display: inline-block;
    border-radius: 50%;
    box-shadow: -10px 5px var(--clr-primary);
    width: 9rem;
    height: 8rem;
}

.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-btn {
    font-size: var(--size-xs);
    animation: float 1.5s linear infinite;
}

.hero-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--clr-slate800);
    transition: fill 0.3s;
}

.hero-icon:hover{
    fill: var(--clr-primary);
}

/* ABOUT ------------------------------------------------*/

.about {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    margin-top: 2rem;
    
}


.about-skills {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.about-skills-icons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 2rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-desc-item {
    display: flex;
    gap: 1rem;
}

.about-index {
    font-size: var(--size-4xl);
    flex-shrink: 0;
    color: var(--clr-primary);
}

.about-desc{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50rem;
    margin: auto;
}

.about-desc-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-desc-title {
    font-size: var(--size-2xl);
}

.about-desc-text {
    line-height: 1.4;
}

.about-subtitle {
    font-size: var(--size-xl);
    font-weight: 600;
    color: var(--clr-slate950);
}

.about h1, .about-subtitle{
    text-align: center;
}

.about-skills-icons i {
    position: relative;
    font-size: var(--size-5xl);
    overflow-y: hidden;
    /* margin: auto; */
    animation: float 2.5s linear infinite;
    transition: color 1s;
    text-align: center;
}

.about-skills-icons i:hover {
    color: var(--clr-secondary);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50%, 65% {
        transform: translateY(-0.25rem);
    }

    100% {
        transform: translateY(0);
    }
}

/* ============= PROJECT =============*/

.projects {
    margin-top: 5rem;
}

.projects h1 {
    text-align: center;
    font-size: var(--size-3xl);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 3.5rem;
    row-gap: 5rem;
    align-items: stretch;
    margin-bottom: 8rem;
    
}

/* ============= FOOTER =============*/

.footer-title {
    font-size: (--size-xs);
    font-weight: 400;
    color: var(--clr-slate600);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}

/* MEDIA SIZES -----------------------------------------*/

/* xs */
@media (min-width: 475px) {

    .hero {
        gap: 1.5rem;
        margin-top: 5rem;
    }
    
    .hero-title {
        font-size: var(--size-5xl);
        line-height: 1;
    }
    
    .hero-desc {
        font-size: var(--size-base);
    }

    .hero-content {
        gap: 2.5rem;
        margin-top: 2rem;
    }
    
    .hero-img {
        width: 10rem;
        height: 9rem;
    }
    
    .hero-btns {
        gap: 2rem;
    }

    .hero-btn {
        font-size: var(--size-s);
        margin-top: 1rem;
    }
    
    .hero-icon {
        width: 2.25rem;
        height: 2.25rem;
    }

    /* ======ABOUT========*/
    .about {
        margin-top: 10rem;
        gap: 3rem;
    }
    
    
}

/* sm */
@media (min-width: 640px) {
    .about-skills-icons i {
        font-size: var(--size-6xl);
    }
}

/* m */
@media (min-width: 768px) {
    .about-skills-icons i {
        font-size: var(--size-7xl);
    }
}

/* lg */
@media (min-width: 1024px) {
    
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 4rem;
        gap: 2rem;
    }
    
    .hero-content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 3rem;
    }
    
    .hero-title {
        color: var(--clr-slate950);
        font-size: var(--size-7xl);
        letter-spacing: -0.05em;
        line-height: 0.9;
    }
    
    .hero-desc {
        font-size: var(--size-xl);
        line-height: 1.2;
        max-width: 50ch;
    }
    
    .hero-img {
        border-radius: 0;
        width: 20rem;
        height: 18rem;
        box-shadow: 20px -12px var(--clr-primary);
        margin-top: 3rem;
        display: inline-block;

    }
    
    .hero-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-btns {
        gap: 2.5rem;
    }

    .hero-btn {
        font-size: var(--size-lg);
    }

    .hero-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    /* ======ABOUT========*/
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5.5rem;
        margin-top: 10rem;
    }

    .about-skills {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .about-skills-icons {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-evenly;
        align-content: space-evenly;
        gap: 4rem;
    }

    .about-content {
        max-width: 60ch;
    }


    .about-desc {
        gap: 4rem;
    }

    .about h1, .about-subtitle{
        text-align: left;
    }
    
}

/* xl */
@media (min-width: 1280px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 6rem;
        gap: 3em;
    }
    
    .hero-content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        margin-top: 2rem;
    }
    
    .hero-title {
        color: var(--clr-slate950);
        font-size: var(--size-7xl);
        letter-spacing: -0.05em;
        line-height: 0.9;
    }
    
    .hero-desc {
        font-size: var(--size-xl);
    }
    
    .hero-btn {
        margin-top: 1.5rem;
    }
    
    .hero-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-img {
        width: 27rem;
        height: 24rem;
    }

    /* ======ABOUT========*/
    .about {
        margin-top: 14rem;
        gap: 10rem;
    }

    .about-skills-icons {
        gap: 5rem;
    }

    .about h1 {
        font-size: var(--size-3xl);
        margin-bottom: 2rem;
    }
    
}

/* 2xl */
/* @media (min-width: 1536px) {} */