/* HERO ---------------------------------------------*/

.hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-title {
    color: var(--clr-slate950);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero-desc {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate800);
}

.hero-img {
    display: inline-block;
    border-radius: 50%;
    box-shadow: -10px 5px var(--clr-primary);
    width: 9rem;
    height: 8rem;
}

.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-btn {
    width: 2rem;
    height: 2rem;
    fill: var(--clr-slate800);
    transition: fill 0.3s;
}

.hero-btn:hover{
    fill: var(--clr-primary);
}

/* ABOUT ------------------------------------------------*/

.about {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
}

.about-header {
    text-align: center;
}

.about-skills {
    gap: 2rem;
    display: flex;
    flex-direction: column;

}

.about-skills-icons {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    justify-content: flex-end;
    align-content: center;
    gap: 2rem;
    border: 1px solid red;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-desc-item {
    display: flex;
    gap: 1rem;
    
}

.about-index {
    font-size: var(--size-4xl);
    flex-shrink: 0;
    color: var(--clr-primary);
}


.about-desc{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50rem;
    width: 100%;
    margin: auto;
}

.about-desc-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-desc-title {
    font-size: var(--size-2xl);
}

.about-subtitle {
    font-size: var(--size-xl);
    font-weight: 600;
    color: var(--clr-slate950);
    text-align: center;
}


.fa-brands {
    position: relative;
    display: inline-block;
    font-size: var(--size-6xl);
    overflow-y: hidden;
    animation: float 2.5s linear infinite;
}

.tooltiptext {
    font-size: var(--size-xs);
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50%, 65% {
        transform: translateY(-0.25rem);
    }

    100% {
        transform: translateY(0);
    }
}

/* MEDIA SIZES ------------------------------*/

/* xs */
@media (min-width: 475px) {

    .hero {
        gap: 1.5rem;
    }
    
    .hero-title {
        font-size: var(--size-5xl);
        line-height: 1;
    }
    
    .hero-desc {
        font-size: var(--size-base);
    }
    
    .hero-img {
        width: 10rem;
        height: 9rem;
    }
    
    .hero-btns {
        gap: 2rem;
    }
    
    .hero-btn {
        width: 2.25rem;
        height: 2.25rem;
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* m */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 1rem;
        gap: 4rem;
    }
    
    .hero-content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 1rem;
    }
    
    .hero-title {
        color: var(--clr-slate950);
        font-size: var(--size-6xl);
        letter-spacing: -0.05em;
        line-height: 0.9;
    }
    
    .hero-desc {
        font-size: var(--size-m);
        line-height: 1.2;
    }
    
    .hero-img {
        border-radius: 0;
        width: 22rem;
        height: 19rem;
        box-shadow: 20px -12px var(--clr-primary);
        margin-top: 1.5rem;
    }
    
    .hero-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-btns {
        gap: 2rem;
    }
    
}

/* xl */
@media (min-width: 1280px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 1rem;
        gap: 4rem;
    }
    
    .hero-content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 1rem;
    }
    
    .hero-title {
        color: var(--clr-slate950);
        font-size: var(--size-6xl);
        letter-spacing: -0.05em;
        line-height: 0.9;
    }
    
    .hero-desc {
        font-size: var(--size-xl);
    }
    
    .hero-img {
        border-radius: 0;
        width: 22rem;
        height: 19rem;
        box-shadow: 20px -12px var(--clr-primary);
    }
    
    .hero-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

/* 2xl */
/* @media (min-width: 1536px) {} */